@model IEnumerable<Dabravata.Models.Image>
@{
    ViewBag.Title = "Галерия";
}


@section styles {
    @Styles.Render("~/bundles/unitegallery-styles")
    @Styles.Render("~/bundles/dropzone-styles")
}

<div class="breadcrumb breadcrumb-1 pos-center">
    <h1 class="title-uppercase">@ViewBag.Title</h1>
</div>


<div class="content">
    <!-- Content Section -->
    <div class="container margint60">
		<h1 class="text-center">Моето родно място</h1>
		<h5 class="text-center">Махла Нишовци с. Батулци</h5>
		<div class="row" style="margin: 30px 0 40px 0px;">
			<div class="col-lg-12 clearfix margint40 room-single-tab">
				<!-- Room Tab -->
				<div class="tab-style-2 ">
					<ul class="tabbed-area tab-style-nav clearfix">
						<li class="active"><h6><a href="#tab1s">1: МАХАЛА НИШОВЦИ</a></h6></li>
						<li class=""><h6><a href="#tab2s">2: НАЧАЛОТО</a></h6></li>
						<li class=""><h6><a href="#tab3s">3: ВАДАТА</a></h6></li>
						<li class=""><h6><a href="#tab4s">4: ПЪТЯ</a></h6></li>
						<li class=""><h6><a href="#tab5s">5: ЯЗОВИРА</a></h6></li>
						<li class=""><h6><a href="#tab6s">6: НОВО НАЧАЛО</a></h6></li>
					</ul>
					<div class="tab-content tab-style-content">
						<div class="tab-pane fade active in" id="tab1s">
							<div class="col-lg-3 margint30" style="margin-left:-15px;">
								<img alt="Tab Image" class="img-responsive" src="~/Content/images/history-1.jpg" >
							</div>
							<div class="col-lg-9 margint30">
								<p>
									Е разположена в китната и равна Батулска котловина, това е най-плодородната земя от землището на селото. Махла Нишовци съществува от около 200 години, като преди това на югозапад от махлата е имало голямо селище населено с латинци. За това свидетестват и закопките на иманярите, открили и разграбили ценни находки от златни, сребърни и медни монети и прибори, през последните 25 години в местността Торището.
								</p>
							</div>
						</div>
						<div class="tab-pane fade" id="tab2s">
							<div class="col-lg-3 margint30" style="margin-left:-15px;">
								<img alt="Tab Image" class="img-responsive" src="~/Content/images/history-2.jpg">
							</div>
							<div class="col-lg-9 margint30">
								<p>
									Началото на живот в махла Нишовци дава дядо Нишо и неговата съпруга. Те идват от с.Видраре, построяват си дом и създават и отглеждат 8 сина и 1 дъщеря: Григор, Лако, Дичко, Йото, Вуло, Петко, Вуло, Герго и сестра им, която по-късно се оженва в с. Славовци, Плевенско.
									Името на махлата е на нейния създател дядо Нишо. Всичките синове си създават домове, оженват се и отглеждат деца. Тез от тях, на които съпругите са по-богати, вече имат и повече земя, но си помягат взаимно при строежа на къщите. Така до преди 60 години махлата е съставена от 12 къщи, днес се обитават и са реставрирани 4 къщи, построен е нов хотел от Даниела и Сергей.
									Реставрирана е къщата на Боян Христов Ивов, на Даниел Николов, на Иванка Димитрова и на Даниела и Сергей Петкови.
								</p>
							</div>
						</div>
						<div class="tab-pane fade" id="tab3s">
							<div class="col-lg-3 margint30" style="margin-left:-15px;">
								<img alt="Tab Image" class="img-responsive" src="~/Content/images/history-3.jpg">
							</div>
							<div class="col-lg-9 margint30">
								<p>
									На север от махлата в месността Калник се намират три извора (някогашни кладенци). Днес водата е каптирана в собствен резервоар и тече през цялата година от чешмите в домовете. Използва се за бани и домакински нужди.
									В средата на махлата има и друга течаща чешма, реставрирана от Даниела и Сергей. Преди години са мъждукали газените лампи, така съм отгледан и аз, но газта се свършила и само .......... е давало светлина.
									През 1958год. Със собствени средтва нашите бащи докарват с биволите дъбовите стълбове и така светват електрическите лампи, чува се гласа на радиоприемниците.
								</p>
							</div>
						</div>
						<div class="tab-pane fade" id="tab4s">
							<div class="col-lg-3 margint30" style="margin-left:-15px;">
								<img alt="Tab Image" class="img-responsive" src="~/Content/images/history-4.jpg">
							</div>
							<div class="col-lg-9 margint30">
								<p>
									От махлата, връзката със селото и другите села е било по черен път. През 1964год. Черния път свързващ махлата с главния път Враца-Ловеч е наслан с чакъл.
									По-късно при много силно наводние пътя почти е отнесен.
									Преди 7-8 години по линия на ФАР е построен асфалтов път.
								</p>
							</div>
						</div>
						<div class="tab-pane fade" id="tab5s">
							<div class="col-lg-3 margint30" style="margin-left:-15px;">
								<img alt="Tab Image" class="img-responsive" src="~/Content/images/history-5.jpg">
							</div>
							<div class="col-lg-9 margint30">
								<p>
									През времето от 1947год. До 1965год. Тука имаше около 20 деца. Ходеше се на 3 километра на училище в село Батулци – V, VI, VII клас, а от I-IV клас учехме в слаби класове в м. Дъбравата. Днес тихо, спокойно, само птичетата пеят вечната си песен, въздуха е чист, водата е приятна и студена, можеш бързо с колата да напазаруваш в гр. Ябланица, гр. Луковит, гр. Роман, отстоящи на 15 км.
									През 1963год. На изток от махлата, на около 2 км е построен язовир, за да напоява земята. Но днес той е зарибен и приятен  за всеки рибар. Малко по на север са ридовете от м. Чуката, м. Гаврил с хубава чешма и студена вода. М. Усойката, м. .........- те днес са приятни за разходка и туризъм.
								</p>
							</div>
						</div>
						<div class="tab-pane fade" id="tab6s">
							<div class="col-lg-3 margint30" style="margin-left:-15px;">
								<img alt="Tab Image" class="img-responsive" src="~/Content/images/history-6.jpg">
							</div>
							<div class="col-lg-9 margint30">
								<p>
									Радвам се, че махлата, вкоято прекарах детството, днес се разхубавява, има живот и нека Господ благослови всеки Българин, който е тръгнла да създава...
									Нашите майки и бащи преди всичко се занимаваха от ранна утрин до късна вечер с отглежаднето на зърнено-житни култури. Грижеха се за най-хубавите животни – биволи, овце, кози. Най-вкусното мляко и млечни продукти даваха биволите. С буталките през зимата разбиваха най-вкусното бяло масло, вкусното сирене и квасено мляко.
									Хората от махлата отглеждаха сливови насаждения. Тук се произвеждаше най-вкусната сливова ракия и най-пенливото вино.
									Пожелавам на смелите днешни Нишовчани смело да облагородяват махлата, здраве, късмет, за да бъде махла Нишовци днес и вовек и веков.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<blockquote class="pull-right">
				<small>IX.2015 –  собственоръчно написани спомени на Гн Николай Нинов</small>
			</blockquote>
		</div>
        <div class="row">
            <div class="col-lg-9">
                <div id="gallery" style="display:none;">

                    @foreach (var image in Model)
                    {
                        var imgPathThumb = image.ImagePath + "_thumb.jpg";
                        var imgPathLarge = image.ImagePath + "_large.jpg";
                        <a href="#">
                            <img src="../@imgPathThumb"
                                 data-image="../@imgPathLarge"
                                 style="display:none">
                        </a>
                    }

                </div>
            </div>
            <div class="col-lg-3">
                @Html.Partial("~/Views/Shared/_Sidebar.cshtml")
            </div>
        </div>
    </div>
</div>


@section scripts {
@Html.Partial("~/Views/Shared/_QuickReservationScripts.cshtml")
 
    @Scripts.Render("~/bundles/unitegallery-scripts")
    @Scripts.Render("~/bundles/dropzone-scripts")

    <script type="text/javascript">

    jQuery(document).ready(function () {

        jQuery("#gallery").unitegallery({
        });

    });

    </script>
}