@model Dabravata.Web.Models.ContactFormInputModel

@{
    ViewBag.Title = "Контакти";
}

<div class="breadcrumb breadcrumb-1 pos-center">
    <h1>КОНТАКТИ</h1>
</div>
<div class="content">
    <!-- Content Section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-4 margint60">
                <!-- Sidebar -->
                <div class="luxen-widget news-widget">
                    <div class="title">
                        <h5>ИНФОРМАЦИЯ ЗА КЪЩАТА</h5>
                    </div>
                    <p>Къщата се намира в центъра на северна България. В полите на Предбалкана, близо да хижа Драгоица. Къщата е само на един час път от София.</p>
                </div>
                <div class="luxen-widget news-widget">
                    <div class="title">
                        <h5>CONTACT</h5>
                    </div>
                    <ul class="footer-links">
                        <li><p><i class="fa fa-map-marker"></i> с. Дъбравата, махала Нишовци - община Ябланица - област Ловеч </p></li>
                        <li><p><i class="fa fa-phone"></i> +359 876 060 501 </p></li>
                        <li><p><i class="fa fa-envelope"></i> dabravata.manager@gmail.com</p></li>
                    </ul>
                </div>
                <div class="luxen-widget news-widget">
                    <div class="title">
                        <h5>СОЦИАЛНИ МРЕЖИ</h5>
                    </div>
                    <ul class="social-links">
                        <li title="facebook"><a href="https://www.facebook.com/dabravata" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li title="twitter"><a><i class="fa fa-twitter"></i></a></li>
                        <li title="youtube"><a><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-sm-8">
                <!-- Contact -->
                <!-- Google Map Starts -->
                <div id="map-wrapper" style="height:350px; margin: 70px 0 20px 0px; border: 1px solid gray;box-shadow: rgba(0,0,0,0.4) 5px 5px">
                    <div id="map-block"><img src="~/Content/images/dabravata-map.jpg" alt="Alternate Text" /></div>
                </div>
                    <!-- Contact Form -->
                    <h3>СВЪРЖЕТЕ СЕ С НАС:</h3>
                    <div class="contact-form-box">
                        @using (Ajax.BeginForm("Contact", "Home", null, new AjaxOptions { UpdateTargetId = "result" },
                            new { @class = "form-horizontal", @id = "result" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Име" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Телефон" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Относно" } })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Съдържание" } })
                                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-warning text-uppercase" style="border-radius: 0;">
                                        Изпрати
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}