@model Dabravata.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

    <div class="slider slider-home">
        <!-- Slider Section -->
        <div class="flexslider slider-loading falsenav">
            <ul class="slides">
                <li>
                    <div class="slider-textbox clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar pull-left">ДОБРЕ ДОШЛИ В ХОДЕЛ "ДАБРАВАТА"</div>
                                <div class="slider-triangle pull-left"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar-under pull-left">5 ЗВЕЗДИ</div>
                                <div class="slider-triangle-under pull-left"></div>
                            </div>
                        </div>
                    </div>
                    <img alt="Slider 1" class="img-responsive" src="~/Content/luxen/temp/sli-1.jpg" />
                </li>
                <li>
                    <div class="slider-textbox clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar pull-left">ВТОРИ СЛАЙД</div>
                                <div class="slider-triangle pull-left"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar-under pull-left">Описание на втория слайд</div>
                                <div class="slider-triangle-under pull-left"></div>
                            </div>
                        </div>
                    </div>
                    <img alt="Slider 1" class="img-responsive" src="~/Content/luxen/temp/sli-2.jpg" />
                </li>
            </ul>
        </div>
        <div class="book-slider">
            <div class="container">
                <div class="row pos-center">
                    <div class="reserve-form-area">
                        <form action="#" method="post" id="ajax-reservation-form">
                            <ul class="clearfix">
                                <li class="li-input">
                                    <label>ПРИСТИГАНЕ</label>
                                    <input type="text" id="dpd1" name="dpd1" class="date-selector" placeholder="&#xf073;" />
                                </li>
                                <li class="li-input">
                                    <label>ОСВОБОЖДАВАНЕ</label>
                                    <input type="text" id="dpd2" name="dpd2" class="date-selector" placeholder="&#xf073;" />
                                </li>
                                <li class="li-select">
                                    <label>СТАИ</label>
                                    <select name="rooms" class="pretty-select">
                                        <option selected="selected" value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </li>
                                <li class="li-select">
                                    <label>ВЪЗРАСТНИ</label>
                                    <select name="adult" class="pretty-select">
                                        <option selected="selected" value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </li>
                                <li class="li-select">
                                    <label>ДЕЦА</label>
                                    <select name="children" class="pretty-select">
                                        <option selected="selected" value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </li>
                                <li>
                                    <div class="button-style-1 margint40">
                                        <a id="res-submit" href="#"><i class="fa fa-search"></i>ТЪРСИ</a>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-book-slider">
            <div class="container">
                <div class="row pos-center">
                    <ul>
                        @Html.Partial("Partials/_TopFeatures", Model.RoomFeatures)
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- Content Section -->
        <div class="about clearfix">
            <!-- About Section -->
            <div class="container">
                <div class="row">
                    <div class="about-title pos-center">
                        <h2>ДОБРЕ ДОШЛИ В КЪЩА ЗА ГОСТИ "ДЪБРАВАТА"</h2>
                        <div class="title-shape"><img alt="Shape" src="~/Content/luxen/img/shape.png"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi quam, volutpat ut sapien eu, pellentesque rutrum erat. Proin convallis orci sed tellus ullamcorper, ac sollicitudin ligula aliquet. Proin vulputate, leo id pretium vulputate, arcu elit tristique ligula, id dapibus libero ante vel lectus. Proin fermentum vehicula velit, ac molestie elit bibendum in. Aliquam eu purus arcu.</p>
                    </div>
                    <div class="otel-info margint60">
                        <div class="col-lg-4 col-sm-12">
                            <div class="title-style-1 marginb40">
                                <h5>ГАЛЕРИЯ</h5>
                                <hr>
                            </div>
                            <div class="flexslider">
                                @Html.Partial("Partials/_GalleryImages", Model.GalleryImages)
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="title-style-1 marginb40">
                                <h5>@Model.FeaturedCustomPage.Title</h5>
                                <hr>
                            </div>
                            <p>@Model.FeaturedCustomPage.Summary</p>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="title-style-1 marginb40">
                                <h5>АТРАКЦИИ</h5>
                                <hr>
                            </div>
                            @Html.Partial("Partials/_HomeAttractions", Model.Attractions)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="explore-rooms margint30 clearfix">
            <!-- Explore Rooms Section -->
            <div class="container">
                <div class="row">
                    <div class="title-style-2 marginb40 pos-center">
                        <h3>РАЗГЛЕДАЙТЕ НАШИТЕ СТАИ</h3>
                        <hr>
                    </div>
                    @Html.Partial("Partials/_HomeFeaturedRooms", Model.FeaturedRooms)
                </div>
            </div>
        </div>
        <div id="parallax123" class="parallax parallax-one clearfix margint60">
            <!-- Parallax Section -->
            <div class="support-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="support-box pos-center front">
                                        <div class="support-box-title"><i class="fa fa-phone"></i></div>
                                        <h4>ОБАДЕТЕ НИ СЕ</h4>
                                        <p class="margint20">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut ferme fentum</p>
                                    </div>
                                    <div class="support-box pos-center back">
                                        <div class="support-box-title"><i class="fa fa-phone"></i></div>
                                        <h4>ТЕЛЕФОНИ:</h4>
                                        <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, et.<br />+61 3 8376 6284</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="support-box pos-center front">
                                        <div class="support-box-title"><i class="fa fa-envelope"></i></div>
                                        <h4>ИЗПРАТЕТЕ НИ EMAIL</h4>
                                        <p class="margint20">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut ferme fentum</p>
                                    </div>
                                    <div class="support-box pos-center back">
                                        <div class="support-box-title"><i class="fa fa-envelope"></i></div>
                                        <h4>E-MAIL АДРЕС:</h4>
                                        <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, et.<br />luxen@2035themes.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="support-box pos-center front">
                                        <div class="support-box-title"><i class="fa fa-home"></i></div>
                                        <h4>ПОСЕТЕТЕ НИ</h4>
                                        <p class="margint20">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut ferme fentum</p>
                                    </div>
                                    <div class="support-box pos-center back">
                                        <div class="support-box-title"><i class="fa fa-home"></i></div>
                                        <h4>НАШИЯ АДРЕС</h4>
                                        <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, et.<br />Manhattan square. 124 avenue. Bodrum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>