@model Dabravata.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

    <div class="slider slider-home">
        <!-- Slider Section -->
        <div class="flexslider slider-loading falsenav">
            <ul class="slides">
                <li>
                    <div class="slider-textbox clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar pull-left">ДОБРЕ ДОШЛИ В КЪЩА ЗА ГОСТИ "ДЪБРАВАТА"</div>
                                <div class="slider-triangle pull-left"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar-under pull-left">Разполагаме с 4 апартамента и 8 самостоятелни стаи</div>
                                <div class="slider-triangle-under pull-left"></div>
                            </div>
                        </div>
                    </div>
                    <img alt="Slider 1" class="img-responsive" src="~/Content/slider-images/slide1.jpg" />
                </li>
                <li>
                    <div class="slider-textbox clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar pull-left">ЗАЛА ЗА РЕЛАКС И ОТДИХ</div>
                                <div class="slider-triangle pull-left"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar-under pull-left">Място за осъзната почивка</div>
                                <div class="slider-triangle-under pull-left"></div>
                            </div>
                        </div>
                    </div>
                    <img alt="Slider 1" class="img-responsive" src="~/Content/slider-images/slide2.jpg" />
                </li>
                <li>
                    <div class="slider-textbox clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar pull-left">БАСЕЙН СРЕД ПРИРОДАТА</div>
                                <div class="slider-triangle pull-left"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar-under pull-left">Освежи се в топлото лято</div>
                                <div class="slider-triangle-under pull-left"></div>
                            </div>
                        </div>
                    </div>
                    <img alt="Slider 1" class="img-responsive" src="~/Content/slider-images/slide3.jpg" />
                </li>
                <li>
                    <div class="slider-textbox clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar pull-left">КЪТ СРЕД ТИШИНА И СПОКОЙСТВИЕ</div>
                                <div class="slider-triangle pull-left"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="slider-bar-under pull-left">Само на един час път от София</div>
                                <div class="slider-triangle-under pull-left"></div>
                            </div>
                        </div>
                    </div>
                    <img alt="Slider 1" class="img-responsive" src="~/Content/slider-images/slide4.jpg" />
                </li>
            </ul>
        </div>
        <div class="book-slider">
            <div class="container">
                <div class="row pos-center">
                    <div class="reserve-form-area quick-reservation-container">
                        <form action="#" method="post" id="ajax-reservation-form">
                            <div class="reservation-view-check">
                                <ul class="clearfix">
                                    <li class="li-input">
                                        <label>ПРИСТИГАНЕ</label>
                                        <input type="text" id="dpd1" name="ArrivalDate" class="date-selector" placeholder="&#xf073;" />
                                    </li>
                                    <li class="li-input">
                                        <label>ОСВОБОЖДАМАНЕ</label>
                                        <input type="text" id="dpd2" name="DepartureDate" class="date-selector" placeholder="&#xf073;" />
                                    </li>
                                    <li class="li-select short-ddl">
                                        <label>ВЪЗРАСТНИ</label>
                                        <select name="Adults" class="pretty-select">
                                            <option selected="selected" value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </li>
                                    <li class="li-select short-ddl">
                                        <label>ДЕЦА</label>
                                        <select name="Childrens" class="pretty-select">
                                            <option selected="selected" value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </li>
                                    <li class="li-select long-ddl">
                                        <label>ВИД СТАЯ</label>
                                        <select name="RoomCategoryId" class="pretty-select room-types-ddl long-ddl">
                                            <option selected="selected" value="0">- - -</option>
                                        </select>
                                    </li>
                                    <li class="li-select long-ddl">
                                        <label>СТАЯ</label>
                                        <img class="dab-rooms-loading" style="display:none;position:absolute;float:right;margin-top:11px;margin-left:100px;" src="~/Content/images/loading.gif" />
                                        <select name="RoomId" class="pretty-select rooms-ddl">
                                            <option selected="selected" value="0">- - -</option>
                                        </select>
                                    </li>
                                    <li>
                                        <div class="button-style-1 margint40">
                                            <a class="res-submit" style="cursor:pointer;"><i class="fa fa-search"></i>ПРОВЕРИ</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="reservation-view-confirm" style="display:none;">
                                <span class="label label-danger confirm-validation-label" style="display:none;">Моля попълнете полетата!</span>
                                <ul class="clearfix">
                                    <li class="li-input">
                                        <label>ИМЕ</label>
                                        <input type="text" name="FirstName" />
                                    </li>
                                    <li class="li-input">
                                        <label>ФАМИЛИЯ</label>
                                        <input type="text" name="LastName" />
                                    </li>
                                    <li class="li-input">
                                        <label>ТЕЛЕФОН</label>
                                        <input type="text" name="Phone" />
                                    </li>
                                    <li class="li-input">
                                        <label>EMAIL</label>
                                        <input type="email" name="Email" />
                                    </li>
                                    <li>
                                        <div class="button-style-1" style="margin-top:38px;">
                                            <a class="confirm-reservation-submit" style="cursor: pointer;">ПОТВЪРДИ</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="reservation-view-loading" style="display:none;">
                                <div style="margin: 12px 0 0 0px;">
                                    <img src="~/Content/images/big-loader.gif" />
                                </div>
                            </div>
                            <div class="reservation-view-success" style="display:none;">
                                <div style="width:825px;background-color: rgba(255, 255, 255, 0.7);margin: 0 auto;margin-top:-12px;padding-bottom:15px;">
                                    <h5 class="text-center" style="color:black;font-size:16px;line-height:20px;text-transform:uppercase;font-weight:bold;"> <i style="color:#238902;font-size:20px;margin: 23px 0 0 80px;" class="fa fa-check-square"></i>&nbsp; Резервацията беше приета успешно!</h5>
                                    <h5 style="color:black;font-size:10px;line-height:20px;text-transform:uppercase;font-weight:bold;position:relative;left:45px;">Ще се свържем с вас въжможно най-скоро!</h5>
                                </div>
                            </div>
                            <div class="reservation-view-notAvailableRoom" style="display:none;">
                                <div class="alert alert-danger text-center" style="margin-top:10px;border-radius: 0px;">
                                    <strong>Стаята е заета за посочения период!</strong>
                                    Моля изберете друг период или се свържете с нас на телефон:  +359 889 999 887!
                                    <div class="button-style-1 pull-right" style="margin-top:5px;">
                                        <a class="reservation-back-btn" style="margin: 0px 0 0 27px;position:relative; top:-6px;left:-50px;cursor:pointer;">НАЗАД</a>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-book-slider">
            <div class="container">
                <div class="row pos-center">
                    <ul>
                        @Html.Partial("Partials/_TopFeatures", Model.RoomFeatures)
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- Content Section -->
        <div class="about clearfix">
            <!-- About Section -->
            <div class="container">
                <div class="row">
                    <div class="about-title pos-center">
                        <h2>ДОБРЕ ДОШЛИ В КЪЩА ЗА ГОСТИ "ДЪБРАВАТА"</h2>
                        <div class="title-shape"><img alt="Shape" src="~/Content/luxen/img/shape.png"></div>
                        <p style="width:1000px;">Само на един час път от София се намира прекрасно райско кътче - изключително подходящо за релакс и отдих сред природата. Елате и се насладете на чистата природа на балкана и красивата тишина и спокойствие. Къщата е подходяща както за семейни събирания, фирмени партита, така и просто ако имате нужда да те откъснете от шума и сивото ежедневие на големия град.</p>
                    </div>
                    <div class="otel-info margint60">
                        <div class="col-lg-4 col-sm-12">
                            <div class="title-style-1 marginb40">
                                <h5>ГАЛЕРИЯ</h5>
                                <hr>
                            </div>
                            <div class="flexslider">
                                @Html.Partial("Partials/_GalleryImages", Model.GalleryImages)
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="title-style-1 marginb40">
                                <h5>@Model.FeaturedCustomPage.Title</h5>
                                <hr>
                            </div>
                            <p>@Model.FeaturedCustomPage.Summary</p>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="title-style-1 marginb40">
                                <h5>АТРАКЦИИ</h5>
                                <hr>
                            </div>
                            @Html.Partial("Partials/_HomeAttractions", Model.Attractions)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="explore-rooms margint30 clearfix">
            <!-- Explore Rooms Section -->
            <div class="container">
                <div class="row">
                    <div class="title-style-2 marginb40 pos-center">
                        <h3>РАЗГЛЕДАЙТЕ НАШИТЕ СТАИ</h3>
                        <hr>
                    </div>
                    @Html.Partial("Partials/_HomeFeaturedRooms", Model.FeaturedRooms)
                </div>
            </div>
        </div>
        <div id="parallax123" class="parallax parallax-one clearfix margint60">
            <!-- Parallax Section -->
            <div class="support-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="support-box pos-center front">
                                        <div class="support-box-title"><i class="fa fa-phone"></i></div>
                                        <h4>ОБАДЕТЕ НИ СЕ</h4>
                                        <p class="margint20">Ако имате допълнителни въпроси или просто предпочитате директно да се свържете с нас</p>
                                    </div>
                                    <div class="support-box pos-center back">
                                        <div class="support-box-title"><i class="fa fa-phone"></i></div>
                                        <h4>ТЕЛЕФОНИ:</h4>
                                        <p class="margint20">Потърсете ни на следния телефон:<br />+359 889 999 887</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="support-box pos-center front">
                                        <div class="support-box-title"><i class="fa fa-envelope"></i></div>
                                        <h4>ИЗПРАТЕТЕ НИ EMAIL</h4>
                                        <p class="margint20">Ако желаете може също да ни пишете на следния email <br />manager@dabravata.com</p>
                                    </div>
                                    <div class="support-box pos-center back">
                                        <div class="support-box-title"><i class="fa fa-envelope"></i></div>
                                        <h4>E-MAIL АДРЕС:</h4>
                                        <p class="margint20">Ако желаете може също да ни пишете на следния email <br /><a href="mailto:manager@dabravata.com">manager@dabravata.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="support-box pos-center front">
                                        <div class="support-box-title"><i class="fa fa-home"></i></div>
                                        <h4>ПОСЕТЕТЕ НИ</h4>
                                        <p class="margint20">Ето това е нашия адрес: с. Дъбравата, махала Нишовци - община Ябланица - област Ловеч</p>
                                    </div>
                                    <div class="support-box pos-center back">
                                        <div class="support-box-title"><i class="fa fa-home"></i></div>
                                        <h4>НАШИЯ АДРЕС</h4>
                                        <p class="margint20">Ето това е нашия адрес: с. Дъбравата, махала Нишовци - община Ябланица - област Ловеч</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts {
@Html.Partial("~/Views/Shared/_QuickReservationScripts.cshtml")
}