@model IEnumerable<Dabravata.Models.ViewModels.AttractionViewModel>


    @foreach (var Attraction in Model)
    {
        var imagePath = Attraction.Image.ImagePath + "_indexThumb.jpg";
        <div class="col-md-6">
            <div class="home-attractions">
                <a href="@Url.Action("Details", "Attractions", new { id = Attraction.Id })"><img class="home-attractions-img" src="/@imagePath" alt="@Attraction.Title" /></a>
                <a href="@Url.Action("Details", "Attractions", new { id = Attraction.Id })" class="home-attractions-title">@Attraction.Title</a>
                <p class="home-attractions-description">@Attraction.Summary</p>
            </div>
        </div>
     }
