<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/administration")
    <link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
    @*<link rel="stylesheet" media="all" type="text/css" href="jquery-ui-timepicker-addon.css" />*@
    <link href="~/Areas/Administration/Content/datetimepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />

    @RenderSection("styles", false)

</head>
<body style="background-color: lightgray;">
    <div class="container body-content" style="background-color: #f3f3f3;">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Администрация", "Index", "Rooms", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Върни се в публичния сайт", "Index", "Home", new { Area = "" }, null)</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:80px;">
            <div class="col-md-12">
                <div class="d-navigation">
                    <a href="@Url.Action("Index", "Reservations")" class="btn btn-default @(ViewContext.RouteData.Values["Controller"].ToString() == "Reservations" ? "active" : "")">Резервации</a>
                    <a href="@Url.Action("Index", "Rooms")" class="btn btn-default @(ViewContext.RouteData.Values["Controller"].ToString() == "Rooms" ? "active" : "")">Стаи</a>
                    <a href="@Url.Action("Index", "RoomCategories")" class="btn btn-default @(ViewContext.RouteData.Values["Controller"].ToString() == "RoomCategories" ? "active" : "")">Видове стаи</a>
                    <a href="@Url.Action("Index", "RoomFeatures")" class="btn btn-default @(ViewContext.RouteData.Values["Controller"].ToString() == "RoomFeatures" ? "active" : "")">Удобства</a>
                    <a href="@Url.Action("Index", "Attractions")" class="btn btn-default @(ViewContext.RouteData.Values["Controller"].ToString() == "Attractions" ? "active" : "")">Атракции</a>
                    <a href="@Url.Action("Index", "Pages")" class="btn btn-default @(ViewContext.RouteData.Values["Controller"].ToString() == "Pages" ? "active" : "")">Страници</a>
                    <a href="@Url.Action("Index", "Gallery")" class="btn btn-default @(ViewContext.RouteData.Values["Controller"].ToString() == "Gallery" ? "active" : "")">Галерия</a>
                </div>
                <hr />
                <div class="container">
                    @Html.Partial("_MessagePartial")
                </div>
                @RenderBody()
            </div>

        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Areas/Administration/Content/datetimepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Areas/Administration/Content/datetimepicker/i18n/jquery-ui-timepicker-addon-i18n.js"></script>
    <script src="~/Areas/Administration/Content/datetimepicker/jquery-ui-sliderAccess.js"></script>

    @RenderSection("scripts", false)

    <script>
    $(function () {
        $('.datetimepicker').datetimepicker({
            dateFormat: 'dd/mm/yy',
            timeFormat: 'HH:mm',
        });
    });
    </script>

    <script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip().css('cursor', 'pointer');
    });
    </script>

</body>
</html>